$text-color-1-dark: #ebebf599;
$text-color-2-dark: #fff;

$color-1-dark: #1f1d47;
$color-2-dark: #2b2157;
$color-3-dark: #33326a;
$color-4-dark: #7582f480;
$color-5-dark: #c427fb80;
$color-6-dark: #48319d;
$color-7-dark: #5232a8;
$color-8-dark: #12112b;
$color-9-dark: #e64396;

$search_input_background_color-1_dark: #2e335a42;
$search_input_background_color-2_dark: #1c1b3342;

$custom-layout_ellipse-1_background_color-1_dark: #612fab;
$custom-layout_ellipse-1_background_color-2_dark: #612fab00;

$weather-details_movable-line_background_color-1_dark: #ffffff00;
$weather-details_movable-line_background_color-2_dark: #ffffff99;

$bottom-navigation_background_color-1_dark: #3a3a6a42;
$bottom-navigation_background_color-2_dark: #25244c42;
$bottom-navigation_central-button-wrapper_background_color-1_dark: #00000066;
$bottom-navigation_central-button-wrapper_background_color-2_dark: #ffffff4d;
$bottom-navigation_central-button-wrapper_box-shadow_color-1_dark: #828ef7c1;
$bottom-navigation_central-button-wrapper_box-shadow_color-2_dark: #212549;
$bottom-navigation_central-button_background_color-1_dark: #a8adb9;
$bottom-navigation_central-button_background_color-2_dark: #ffffff;

// $main-weather-details__background-color__dark: #33326a;
// $main-weather-details__border-dark: #b4b4f099;
// $main-weather-details__main-button__dark: #1b1b1b;
// $main-weather-details__movable-line__linear-gradient__color-1__dark: #ffffff00;
// $main-weather-details__movable-line__linear-gradient__color-2__dark: #ffffff99;
// $main-weather-details__movable-line__linear-gradient__color-3__dark: #ffffff00;
// $main-weather-details__ellipse-1__linear-gradient__color-1__dark: #612fab00;
// $main-weather-details__ellipse-1__linear-gradient__color-2__dark: #612fab;
// $main-weather-details__ellipse-1__linear-gradient__color-3__dark: #612fab00;
// $main-weather-details__ellipse-1__linear-gradient__color-4__dark: #612fab;
// $main-weather-details__ellipse-2__dark: #c427fb80;
// $main-weather-details__ellipse-3__dark: #e0d9ff;

// $bottom-navigation-color-1-dark: #3a3a6a42;
// $bottom-navigation-color-1-dark: #25244c42;
// $bottom-navigation-border-dark: #7582f480;
// $bottom-navigation-button-dark: #fff;
// $bottom-navigation-button-active-dark: #e64396;
// $bottom-navigation-central-button-wrapper-bg-color-1-dark: #00000066;
// $bottom-navigation-central-button-wrapper-bg-color-2-dark: #ffffff4d;
// $bottom-navigation-central-button-wrapper-box-shadow-color-1-dark: #828ef7c1;
// $bottom-navigation-central-button-wrapper-box-shadow-color-2-dark: #212549;

$bottom-navigation-z-index: 1050;

$weather-details-z-index: 1000;
$weather-details-1-ellipse-z-index: 1010;
$weather-details-2-ellipse-z-index: $weather-details-1-ellipse-z-index;
$weather-details-3-ellipse-z-index: $weather-details-1-ellipse-z-index;
$weather-details-forecast-button-z-index: 1060;
$weather-details-movable-line-z-index: 1060;

$forecast-item-z-index: 1020;

$weather-details-default-height: 100%;

$bottom-navigation-height: 88px;
$bottom-navigation-center-height: 100px;
