$text-color-1-dark: #ebebf599;
$text-color-2-dark: #fff;

$color-1-dark: #1f1d47;
$color-2-dark: #2b2157;
$color-3-dark: #33326a;
$color-4-dark: #7582f480;
$color-5-dark: #c427fb80;
$color-6-dark: #48319d;
$color-7-dark: #5232a8;
$color-8-dark: #12112b;
$color-9-dark: #e64396;

$search_input_background_color-1_dark: #2e335a42;
$search_input_background_color-2_dark: #1c1b3342;

$custom-layout_ellipse-1_background_color-1_dark: #612fab;
$custom-layout_ellipse-1_background_color-2_dark: #612fab00;

$forecast-details_movable-line_background_color-1_dark: #ffffff00;
$forecast-details_movable-line_background_color-2_dark: #ffffff99;

// $bottom-navigation_background_color-1_dark: #3a3a6a42;
// $bottom-navigation_background_color-2_dark: #25244c42;
$bottom-navigation_central-button-wrapper_background_color-1_dark: #00000066;
$bottom-navigation_central-button-wrapper_background_color-2_dark: #ffffff4d;
$bottom-navigation_central-button-wrapper_box-shadow_color-1_dark: #828ef7c1;
$bottom-navigation_central-button-wrapper_box-shadow_color-2_dark: #212549;
$bottom-navigation_central-button_background_color-1_dark: #a8adb9;
$bottom-navigation_central-button_background_color-2_dark: #ffffff;

$bottom-navigation-z-index: 1050;

$forecast-details-z-index: 1000;
$forecast-details-1-ellipse-z-index: 1010;
$forecast-details-2-ellipse-z-index: $forecast-details-1-ellipse-z-index;
$forecast-details-3-ellipse-z-index: $forecast-details-1-ellipse-z-index;
$forecast-details-forecast-button-z-index: 1060;
$forecast-details-movable-line-z-index: 1060;

$forecast-item-z-index: 1020;

$forecast-details-default-height: 100%;

$bottom-navigation-height: 88px;
$bottom-navigation-center-height: 100px;
