$text-color-1-dark: #ebebf599;
$text-color-2-dark: #fff;

$color-1-dark: #1f1d47;
$color-2-dark: #2b2157;
$color-3-dark: #33326a;
$color-4-dark: #7582f480;
$color-5-dark: #c427fb80;
$color-6-dark: #48319d;
$color-7-dark: #5232a8;
$color-8-dark: #12112b;
$color-9-dark: #e64396;

$radial-gradient-1-dark: radial-gradient(#612fab, #612fab00);

$linear-gradient-1-dark: linear-gradient(
  270deg,
  #ffffff00 10%,
  #ffffff99 50%,
  #ffffff00 90%
);
$linear-gradient-2-dark: linear-gradient(140deg, #00000066 19%, #ffffff4d 86%);
$linear-gradient-3-dark: linear-gradient(153deg, #a8adb9 0%, #ffffff 80%);

$box-shadow-1-dark: -4px -4px 16px #828ef7c1, 4px 4px 12px #212549;

$z-index-1: 1000;
$z-index-2: 1010;
$z-index-3: 1020;
$z-index-4: 1050;
$z-index-5: 1100;
