@import "../vars.scss";

.bottom-navigation {
  width: 100%;
  height: $bottom-navigation-height;
  max-width: 476px;

  position: fixed;
  bottom: 0;
  left: 50%;
  z-index: $bottom-navigation-z-index;

  transform: translate3d(-50%, 0, 0);

  background: linear-gradient(
    180deg,
    rgba(58, 58, 106, 0.26) 0%,
    rgba(37, 36, 76, 0.26) 100%
  );
  backdrop-filter: blur(25px);

  border-top: 0.5px solid #7582f480;

  display: flex;
  justify-content: center;
  align-items: center;

  will-change: transform;

  transition: transform linear 0.3s;

  &_hidden {
    transform: translate3d(-50%, $bottom-navigation-center-height, 0);
  }

  button {
    cursor: pointer;
  }

  &__button {
    width: 44px;
    height: 44px;

    background: none;
    outline: none;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__center {
    width: 258px;
    height: 100px;

    position: relative;
    bottom: 6px;
  }

  &__central-button-wrapper {
    width: 64px;
    height: 64px;

    border-radius: 100%;

    background: linear-gradient(
      140deg,
      rgba(0, 0, 0, 0.4) 19%,
      rgba(255, 255, 255, 0.3) 86%
    );

    position: absolute;
    left: 50%;
    top: 15px;

    transform: translate(-43%, 0);

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: -4px -4px 16px #828ef7c1, 4px 4px 12px #212549;
  }

  &__central-button {
    width: 58px;
    height: 58px;

    border-radius: 100%;

    border: none;
    outline: none;

    display: flex;
    justify-content: center;
    align-items: center;

    &:active {
      border: 3px solid white;

      background: linear-gradient(153deg, #a8adb9 0%, #fff 80%);
    }
  }
}
