@import "../vars.scss";

.bottom-navigation {
  width: 100%;
  height: $bottom-navigation-height;
  max-width: 476px;

  position: fixed;
  bottom: 0;
  z-index: $bottom-navigation-z-index;

  will-change: transform;

  transition: transform linear 0.3s;

  &_hidden {
    transform: translate3d(0, 108px, 0);
  }

  &__background-svg {
    width: 100%;

    fill: $color-3-dark;

    & path {
      stroke: $color-4-dark;
    }
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 100%;
  }

  &__button {
    width: 44px;
    height: 44px;

    background: none;
    outline: none;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    margin-top: 14px;
    margin-left: 28px;

    &:last-child {
      margin-right: 28px;
    }

    svg {
      path {
        fill: $text-color-2-dark;
      }
    }

    &_active {
      svg {
        path {
          fill: $color-9-dark;
        }
      }
    }
  }

  &__central-circle {
    width: 160px;
    height: 160px;

    position: absolute;
    left: 50%;
    top: -14%;

    transform: translate(-50%, 0);

    background-color: $color-3-dark;

    border-top: 1px solid $color-4-dark;
    border-radius: 50%;
  }

  &__central-inner {
    width: 64px;
    height: 64px;

    border-radius: 100%;

    background: linear-gradient(
      140deg,
      $bottom-navigation_central-button-wrapper_background_color-1_dark 19%,
      $bottom-navigation_central-button-wrapper_background_color-2_dark 86%
    );

    position: absolute;
    left: 50%;
    top: 15%;

    transform: translate(-50%, 0);

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: -4px -4px 16px $bottom-navigation_central-button-wrapper_box-shadow_color-1_dark,
      4px 4px 12px
        $bottom-navigation_central-button-wrapper_box-shadow_color-2_dark;
  }

  &__central-button {
    width: 58px;
    height: 58px;

    border-radius: 100%;

    border: none;
    outline: none;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $text-color-2-dark;

    &:active {
      border: 3px solid $text-color-2-dark;

      background: linear-gradient(
        153deg,
        $bottom-navigation_central-button_background_color-1_dark 0%,
        $bottom-navigation_central-button_background_color-2_dark 80%
      );
    }
  }
}

@media screen and (max-width: 392px) {
  .bottom-navigation {
    &__background-svg {
      height: 110px;
    }
  }
}
