@import "../vars.scss";

.bottom-navigation {
  width: 100%;
  height: 88px;
  max-width: 760px;

  position: sticky;
  bottom: 0;

  overflow: hidden;

  background-color: $color-4-dark;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__button {
    width: 44px;
    height: 44px;

    background: none;
    outline: none;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    margin-top: 14px;
    margin-left: 34px;

    &:last-child {
      margin-right: 34px;
    }

    svg {
      path {
        fill: $text-color-2-dark;
      }
    }

    &_active {
      svg {
        path {
          fill: $color-9-dark;
        }
      }
    }
  }

  &__central {
    width: 64px;
    height: 64px;

    border-radius: 100%;

    background: $linear-gradient-2-dark;

    position: absolute;
    left: 50%;
    top: 15%;

    transform: translate(-50%, 0);

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: $box-shadow-1-dark;
  }

  &__central-button {
    width: 58px;
    height: 58px;

    border-radius: 100%;

    border: none;
    outline: none;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $text-color-2-dark;

    &:active {
      border: 3px solid $text-color-2-dark;

      background: $linear-gradient-3-dark;
    }
  }
}

@media screen and (max-width: 392px) {
  .bottom-navigation {
    &__background-svg {
      height: 110px;
    }
  }
}
