.custom-selection {
  width: 200px;
  height: 40px;

  border-radius: 4px;

  position: relative;

  background-color: #2b268d;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding-left: 8px;

  cursor: pointer;

  &_active {
    .custom-selection__values {
      display: block;
    }
  }

  &__current-value {
    text-transform: capitalize;
  }

  &__values {
    position: absolute;
    top: 100%;
    left: 0;

    width: 100%;

    display: none;
  }

  &__value {
    text-transform: capitalize;

    background-color: black;

    padding: 8px;

    border-bottom: 1px solid rgb(68, 68, 68);

    &:hover {
      background-color: #2b268d;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}
