@import "../vars.scss";

.forecast-item {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;

  width: 60px;
  height: 146px;

  border: 1px solid $color-5-dark;
  border-radius: 30px;

  margin-left: 12px;

  box-shadow: 5px 4px 10px 0px #00000040, inset 1px 1px 0px 0px #ffffff40;

  background: $color-3-dark;
  background-blend-mode: overlay;

  text-align: center;

  position: relative;
  z-index: $forecast-item-z-index;

  &_current {
    background-color: $color-6-dark;
  }

  &:first-child {
    margin-left: 24px;
  }

  &:last-child {
    margin-right: 12px;
  }

  &__time {
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;

    padding-top: 16px;
  }

  &__weather-image {
    width: 36px;
    height: 36px;
  }

  &__temperature {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.37px;

    padding-bottom: 16px;
  }
}

@media screen and (max-height: 630px) {
  .forecast-item {
    height: 100px;

    justify-content: flex-start;

    &__weather-image {
      margin-top: 8px;
    }

    &__temperature {
      display: none;
    }
  }
}
