@import "../vars.scss";

.forecast-details {
  width: 100vw;
  max-width: 476px;

  background: $color-3-dark;

  border-top: 2px solid $color-4-dark;
  border-radius: 22px 22px 0 0;

  position: fixed;
  top: 100%;
  z-index: $forecast-details-z-index;

  transform: translate3d(0, -330px, 0);

  will-change: transform;

  transition: transform cubic-bezier(0, 0.02, 0.28, 1.19) 0.6s;

  &_fullscreen {
    transform: translate3d(0, calc(-100svh + 140px), 0);
  }

  &__top-bar {
    height: 47px;

    border-bottom: 1px solid $color-4-dark;
  }

  &__drag-button {
    width: 48px;
    height: 7px;

    border-radius: 30px;

    position: absolute;
    top: 6px;
    left: 50%;

    transform: translate(-50%, 0);

    background: none;
    background-color: $color-8-dark;

    border: none;
    outline: none;

    cursor: pointer;
  }

  &__selection {
    color: $text-color-1-dark;

    user-select: none;

    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.5px;

    cursor: pointer;

    position: relative;
    z-index: $forecast-details-forecast-button-z-index;

    background: none;

    border: none;
    outline: none;

    &::first-letter {
      text-transform: capitalize;
    }
  }

  &__line {
    background: linear-gradient(
      270deg,
      $forecast-details_movable-line_background_color-1_dark 10%,
      $forecast-details_movable-line_background_color-2_dark 50%,
      $forecast-details_movable-line_background_color-1_dark 90%
    ) !important;
  }

  &__scroll-wrapper {
    overflow-y: auto;

    position: relative;
    z-index: 1050;

    padding-bottom: 18px;
  }

  &__forecast-items {
    padding-bottom: 10px;

    margin-top: 18px;

    white-space: nowrap;

    overflow: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__forecast-items-sceleton {
    display: flex;
    justify-content: center;
  }

  &__container {
    padding-left: 24px;
    padding-right: 24px;
  }

  &__container-inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__ellipse-1 {
    width: 220px;
    height: 220px;

    position: fixed;
    right: -15px;
    bottom: 70px;
    z-index: $forecast-details-1-ellipse-z-index;

    background: conic-gradient(
      from 180deg at 50% 50%,
      $custom-layout_ellipse-1_background_color-2_dark 50deg,
      $custom-layout_ellipse-1_background_color-1_dark 129deg,
      $custom-layout_ellipse-1_background_color-2_dark 226deg,
      $custom-layout_ellipse-1_background_color-1_dark 312deg
    );

    filter: blur(70px);

    pointer-events: none;
  }

  &__ellipse-2 {
    width: 286px;
    height: 32px;

    position: fixed;
    top: 0;
    left: 50%;
    z-index: $forecast-details-2-ellipse-z-index;

    transform: translate(-50%, 0);

    border-radius: 286px;

    background: $color-5-dark;

    filter: blur(30px);

    pointer-events: none;
  }

  &__ellipse-3 {
    width: 80%;
    height: 3px;

    position: fixed;
    top: -4px;
    left: 50%;
    z-index: $forecast-details-3-ellipse-z-index;

    background: $text-color-1-dark;

    transform: translate(-50%, 0);

    border-radius: 286px;

    filter: blur(10px);

    pointer-events: none;
  }
}

@media screen and (max-width: 387px) {
  .forecast-details {
    &__top-bar {
      height: 54px;
    }

    &__selection {
      font-size: 16px;
    }
  }
}

@media screen and (max-height: 630px) {
  .forecast-details {
    transform: translate3d(0, -280px, 0);
  }
}
