@import "../vars.scss";

.forecast-details {
  width: 100vw;
  max-width: 760px;

  margin-top: 110px;

  background: $color-3-dark;

  border-top: 2px solid $color-4-dark;
  border-radius: 4px 4px 0 0;

  padding-bottom: 20px;

  &__top-bar {
    height: 47px;

    border-bottom: 1px solid $color-4-dark;
  }

  &__selection {
    color: $text-color-1-dark;

    user-select: none;

    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.5px;

    cursor: pointer;

    position: relative;
    z-index: $z-index-5;

    background: none;

    border: none;
    outline: none;

    &::first-letter {
      text-transform: capitalize;
    }
  }

  &__line {
    background: $linear-gradient-1-dark !important;
  }

  &__forecast-items {
    padding-bottom: 10px;

    margin-top: 18px;

    white-space: nowrap;

    overflow: scroll;
    overscroll-behavior: contain;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__forecast-items-sceleton {
    display: flex;
    justify-content: center;
  }

  &__container {
    padding-left: 24px;
    padding-right: 24px;
  }

  &__container-inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    max-width: 600px;

    margin: 0 auto;
  }
}

@media screen and (max-width: 392px) {
  .forecast-details {
    &__top-bar {
      height: 54px;
    }

    &__selection {
      font-size: 16px;
    }
  }
}
