@import "../vars.scss";

.property-min {
  width: 164px;
  height: 164px;

  background-color: $color-2-dark;

  padding: 20px;
  margin-top: 10px;

  border-radius: 22px;
  border: 1px solid $text-color-1-dark;

  &_sceleton {
    padding: 0;
  }

  &:nth-child(even) {
    margin-left: 16px;
  }

  &__top {
    display: flex;
    justify-content: flex-start;
  }

  &__icon {
    width: 18px;

    svg {
      path {
        stroke: $text-color-1-dark;
        fill: $text-color-1-dark;
      }
    }
  }

  &__name {
    color: $text-color-1-dark;

    text-transform: uppercase;

    margin-left: 4px;
  }

  &__bottom {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    padding-bottom: 20px;
  }
}
