@import "../vars.scss";

.property-big {
  width: 100%;
  height: 158px;

  margin-top: 19px;

  background: linear-gradient(340deg, #1b1538, transparent);

  border-radius: 22px;
  border: 1px solid $color-4-dark;

  padding: 20px;

  &_sceleton {
    padding: 0;
  }

  &__top {
    display: flex;
    justify-content: flex-start;
  }

  &__icon {
    width: 18px;

    svg {
      path {
        fill: $text-color-1-dark;
      }
    }
  }

  &__name {
    color: $text-color-1-dark;

    text-transform: uppercase;

    margin-left: 4px;
  }

  &__bottom {
    margin-top: 20px;
  }
}
