.route-transition-wrapper {
  will-change: left;

  height: 100vh;
}

.fadeIn {
  animation: 0.4s fadeIn;

  position: relative;
}

.fadeOut {
  animation: 0.4s fadeOut;

  position: relative;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    left: 100%;
  }
  to {
    opacity: 1;
    left: 0;
  }
}
