@import "../vars.scss";

.sceleton-rectangle {
  width: 40px;
  height: 40px;

  background-color: $color-4-dark;

  animation: preloading-animation infinite 2s ease-in;

  border-radius: inherit;
}

@keyframes preloading-animation {
  0% {
    background-color: $color-3-dark;
  }
  50% {
    background-color: $color-4-dark;
  }
  100% {
    background-color: $color-3-dark;
  }
}
