@import "../vars.scss";

.weather-details {
  width: 100%;
  max-width: 476px;

  background: $color-3-dark;

  border-top: 2px solid $color-4-dark;
  border-radius: 44px 44px 0 0;

  position: fixed;
  left: 50%;
  top: 0;
  z-index: $weather-details-z-index;

  transform: translate3d(-50%, 0, 0);

  will-change: transform;

  &_transition {
    transition: transform cubic-bezier(0, 0.02, 0.28, 1.19) 0.6s;
  }

  &__top-bar {
    height: 47px;

    display: flex;
    justify-content: space-around;
    align-items: flex-end;

    border-bottom: 1px solid $color-4-dark;
  }

  &__main-button {
    width: 48px;
    height: 7px;

    border-radius: 30px;

    position: absolute;
    top: 6px;
    left: 50%;

    transform: translate(-50%, 0);

    background: none;
    background-color: $color-8-dark;

    border: none;
    outline: none;

    cursor: pointer;
  }

  &__forecast-button {
    color: $text-color-1-dark;

    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.5px;

    margin-bottom: 6px;

    cursor: pointer;

    position: relative;
    z-index: $weather-details-forecast-button-z-index;

    background: none;

    border: none;
    outline: none;

    &::first-letter {
      text-transform: capitalize;
    }
  }

  &__movable-line {
    width: 25%;
    height: 3px;

    background: linear-gradient(
      270deg,
      $weather-details_movable-line_background_color-1_dark 10%,
      $weather-details_movable-line_background_color-2_dark 50%,
      $weather-details_movable-line_background_color-1_dark 90%
    );

    position: absolute;
    top: 0px;
    left: 0px;
    z-index: $weather-details-movable-line-z-index;

    transform: translate(0, 40px);

    transition: transform ease-in 0.2s;
  }

  &__scroll-wrapper {
    overflow-y: auto;

    position: relative;
    z-index: 1050;

    padding-bottom: 18px;
  }

  &__forecast-items {
    padding-bottom: 10px;

    margin-top: 18px;

    white-space: nowrap;

    overflow: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__container {
    padding-left: 24px;
    padding-right: 24px;
  }

  &__container-inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__ellipse-1 {
    width: 220px;
    height: 220px;

    position: fixed;
    right: -15px;
    bottom: 70px;
    z-index: $weather-details-1-ellipse-z-index;

    background: conic-gradient(
      from 180deg at 50% 50%,
      $custom-layout_ellipse-1_background_color-2_dark 50deg,
      $custom-layout_ellipse-1_background_color-1_dark 129deg,
      $custom-layout_ellipse-1_background_color-2_dark 226deg,
      $custom-layout_ellipse-1_background_color-1_dark 312deg
    );

    filter: blur(70px);

    pointer-events: none;
  }

  &__ellipse-2 {
    width: 286px;
    height: 32px;

    position: fixed;
    top: 0;
    left: 50%;
    z-index: $weather-details-2-ellipse-z-index;

    transform: translate(-50%, 0);

    border-radius: 286px;

    background: $color-5-dark;

    filter: blur(30px);

    pointer-events: none;
  }

  &__ellipse-3 {
    width: 80%;
    height: 3px;

    position: fixed;
    top: -4px;
    left: 50%;
    z-index: $weather-details-3-ellipse-z-index;

    background: $text-color-1-dark;

    transform: translate(-50%, 0);

    border-radius: 286px;

    filter: blur(10px);

    pointer-events: none;
  }
}
