@import "../vars.scss";

.custom-layout {
  &__top {
    padding-left: 16px;
    padding-right: 16px;

    z-index: $z-index-4;
  }

  &__cancel {
    height: 52px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    cursor: pointer;

    color: $text-color-2-dark;

    text-decoration: none;

    &-arrow {
      width: 17px;
      width: 17px;

      path {
        fill: $text-color-1-dark;
      }
    }

    &-text {
      margin-left: 8px;

      font-size: 28px;
      font-weight: 400;
      line-height: 34px;
      letter-spacing: 0.36px;
      text-transform: capitalize;
    }
  }
}

@media screen and (min-width: 675px) {
  .custom-layout {
    &__ellipse-1 {
      position: absolute;
      left: 35%;
    }

    &__ellipse-2 {
      position: absolute;
      left: 45%;
    }
  }
}
