@import "../vars.scss";

.custom-layout {
  &__top {
    padding-left: 16px;
    padding-right: 16px;

    z-index: 1050;
  }

  &__cancel {
    height: 52px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    cursor: pointer;

    color: $text-color-2-dark;

    text-decoration: none;

    &-arrow {
      width: 17px;
      width: 17px;

      path {
        fill: $text-color-1-dark;
      }
    }

    &-text {
      margin-left: 8px;

      font-size: 28px;
      font-weight: 400;
      line-height: 34px;
      letter-spacing: 0.36px;
      text-transform: capitalize;
    }
  }

  &__ellipse-1 {
    width: 352px;
    height: 352px;

    position: fixed;
    top: 80px;
    left: -3px;
    z-index: 1000;

    touch-action: none;

    border-radius: 352px;

    filter: blur(98px);

    background: conic-gradient(
      from 180deg at 50% 50%,
      $custom-layout_ellipse-1_background_color-1_dark -90deg,
      $custom-layout_ellipse-1_background_color-1_dark 50deg,
      $custom-layout_ellipse-1_background_color-1_dark 129deg,
      $custom-layout_ellipse-1_background_color-2_dark 226deg,
      $custom-layout_ellipse-1_background_color-1_dark 269deg,
      $custom-layout_ellipse-1_background_color-2_dark 410deg
    );
  }

  &__ellipse-2 {
    width: 365px;
    height: 365px;

    position: fixed;
    top: 470px;
    left: 122px;
    z-index: 1000;

    touch-action: none;

    border-radius: 365px;

    background: conic-gradient(
      from 180deg at 50% 50%,
      $custom-layout_ellipse-1_background_color-1_dark 50deg,
      $custom-layout_ellipse-1_background_color-2_dark 129deg,
      $custom-layout_ellipse-1_background_color-2_dark 226deg,
      $custom-layout_ellipse-1_background_color-1_dark 269deg
    );

    filter: blur(101px);
  }
}
