@import "../vars.scss";

.main {
  min-height: 100vh;

  background: url("../../images/night-mountain.png") top/cover;

  overflow: hidden;

  &_fullscreen {
    background: none;
  }

  &__image {
    text-align: center;

    &-object {
      margin-top: 23px;

      width: 100%;
      max-width: 390px;
      min-height: 390px;
    }
  }
}
