.main {
  &__important-info {
    padding-top: 70px;

    letter-spacing: 0.37px;
    text-align: center;
  }

  &__place {
    font-size: 34px;
    font-weight: 400;
    line-height: 41px;
  }

  &__weather-degrees {
    font-size: 96px;
    font-weight: 200;
    line-height: 70px;

    margin-top: 12px;
  }

  &__weather-state {
    color: #ebebf599;

    margin-top: 12px;

    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
  }

  &__degree-limits {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
  }

  &__image {
    text-align: center;

    &-object {
      margin-top: 23px;

      width: 100%;
      max-width: 390px;
      min-height: 390px;
    }
  }
}
